:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: black;
  background-color: whitesmoke;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.bouncing-blob {
  width: 32vw;
  aspect-ratio: 1;
  border-radius: 50%;
  will-change: transform;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  transform-origin: left top;
}

.bouncing-blob--blue {
  background: #f34c63;
}

.bouncing-blob--white {
  background: #ffffff;
  z-index: 2;
  width: 15vw;
}

.bouncing-blob--purple {
  background: #f82ad6;
}

.bouncing-blob--pink {
  background: #e289cd50;
}

.bouncing-blobs-container {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bouncing-blobs-glass {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(140px);
  -webkit-backdrop-filter: blur(140px);
  pointer-events: none;
}

.bouncing-blobs {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.hero h2 {
  font-size: 70px;
  max-width: 800px;
  line-height: 1;
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 20px;
  color: #021123;
}

.hero p {
  font-size: 24px;
  max-width: 500px;
  text-align: center;
  color: #021123;
}

@media (max-width: 1200px) {
  .bouncing-blobs-glass {
    backdrop-filter: blur(120px);
    -webkit-backdrop-filter: blur(120px);
  }
}

@media (max-width: 500px) {
  .bouncing-blob {
    width: 60vw;
  }
  .bouncing-blob--white {
    width: 30vw;
  }
  .bouncing-blobs-glass {
    backdrop-filter: blur(90px);
    -webkit-backdrop-filter: blur(90px);
  }

  .hero h2 {
    font-size: 32px;
  }

  .hero p {
    font-size: 16px;
    padding: 0 20px;
  }
}

.tutorial-link a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-size: 20px;
  text-decoration: none;
  font-weight: 600;
  gap: 0 5px;
  border: 2px solid;
  border-radius: 5px;
  padding: 4px 10px;
}

.tutorial-link svg {
  width: 30px;
}

@media (max-width: 500px) {
  .tutorial-link a {
    font-size: 14px;
    padding: 2px 4px;
  }
  .tutorial-link svg {
    width: 15px;
  }
}

/* Navigation Bar */
#menu {
  background: #0099cc;
  background: linear-gradient(to bottom, #f34c63, #f82ad6);
  height: 45px;
  padding-left: 18px;
  border-radius: 10px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translatex(-50%);
  width: 100%;
  max-width: 800px;
  z-index: 1000;
  display: flex;
  align-items: center;
}
#menu ul,
#menu li {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}
#menu ul {
  width: 100%;
  text-align: center;
}

#menu li {
  display: inline-block;
  position: relative;
  margin: 0 10px; /* Adjusting my margin as i need */
}

#menu a {
  display: block;
  line-height: 45px; /* Adjusting my button height */
  padding: 0 14px; /* Adjusting my button padding */
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

#menu li a:hover {
  color: #f82ad6;
  background: #ffffff;
}
#menu input {
  display: none;
  margin: 0;
  padding: 0;
  height: 45px;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
#menu label {
  display: none;
  line-height: 45px;
  text-align: center;
  position: absolute;
  left: 35px;
}
#menu label:before {
  font-size: 1.6em;
  color: #ffffff;
  content: "\2261";
  margin-left: 20px;
}
#menu ul.sub-menus {
  height: auto;
  overflow: hidden;
  width: 170px;
  background: #444444;
  position: absolute;
  z-index: 99;
  display: none;
}
#menu ul.sub-menus li {
  display: block;
  text-align: left;
  width: 100%;
}
#menu ul.sub-menus a {
  color: #ffffff;
  font-size: 16px;
}
#menu li:hover ul.sub-menus {
  display: block;
}
#menu ul.sub-menus a:hover {
  background: #f2f2f2;
  color: #444444;
}
@media screen and (max-width: 800px) {
  #menu {
    position: relative;
  }
  #menu ul {
    background: #444444;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 3;
    height: auto;
    display: none;
    text-align: left;
  }
  #menu ul.sub-menus {
    width: 100%;
    position: static;
  }
  #menu ul.sub-menus a {
    padding-left: 30px;
  }
  #menu li {
    display: block;
    float: none;
    width: auto;
  }
  #menu input,
  #menu label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
  #menu input {
    z-index: 4;
  }
  #menu input:checked + label {
    color: #ffffff;
  }
  #menu input:checked + label:before {
    content: "\00d7";
  }
  #menu input:checked ~ ul {
    display: block;
  }
}

.top-left-logo {
  max-height: 40px; /* Adjust the height as needed */
  margin-right: -55px;
  position: none; /* Space between the logo and the menu items */
}

/* Steaks Columns */
.column {
  column-count: 2;
  column-gap: 100px;
  column-rule: 4px solid #f34c63;
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  max-width: 800px; /* Ensure columns are within a max width */
  display: flex;
  justify-content: center;
  text-align: center; /* Center text within columns */
}

.column ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center; /* Add some margin between list items */
}

.column ul li {
  margin: 10px 0;
}

.button {
  width: 160px;
  display: flex;
  padding: 0.8em 1.1em;
  gap: 0.4rem;
  border: none;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  text-shadow: 2px 2px 3px rgb(136 0 136 / 50%);
  background: linear-gradient(
      15deg,
      #880088,
      #aa2068,
      #cc3f47,
      #de6f3d,
      #f09f33,
      #de6f3d,
      #cc3f47,
      #aa2068,
      #880088
    )
    no-repeat;
  background-size: 300%;
  background-position: left center;
  transition: background 0.3s ease;
  color: #fff;
}

.button:hover {
  background-size: 320%;
  background-position: right center;
}

.button:hover img {
  fill: #fff;
}

.button img {
  width: 23px;
  fill: #f09f33;
  transition: 0.3s ease;
}
